/* universal */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Patrick Hand', cursive;
    color: #0e7a61;
    text-align: center;
    cursor: default;
}

a {
    text-decoration: none;
    color: #0e7a61;
}

/************************************************************************ bars */

#barsBg {
    text-align: left;
    background-color: #49bea3;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#barsBg .fas.fa-bars {
    cursor: pointer;
    font-size: 1.8rem;
    margin: 0.2rem 0rem 0.2rem 0.2rem;
}

#barsBg .fas.fa-bars:hover {
    color: #14f7be;
}

/************************************************************************ small nav */

#smallNavBg {
    padding: 1rem 0rem;
    font-size: 2rem;
    background-color: #9ef5df;
    display: none;
    top: 2rem;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#smallNavBg li {
    display: inline;
}

#smallNavBg ul li:nth-of-type(1), #smallNavBg ul li:nth-of-type(2) {
    margin-right: 1rem;
}

#smallNavBg a:hover {
    border-bottom: #0e7a61 solid 0.1rem;
}

/************************************************************************ big nav */

/************************************************************************ socials */

#toggleSocials {
    position: fixed;
    top: 38.5%;
    font-size: 2rem;
    left: 1.4%;
}

#toggleSocials .fas.fa-caret-square-down {
    cursor: pointer;
}

#socials {
    position: fixed;
    top: 46%;
    display: none;
    left: 1.8%;
}

#socials ul {
    font-size: 1.7rem;
}

#socials li {
    cursor: pointer;
    margin-bottom: 1rem;
}

#socials .fab.fa-instagram, #socials .fab.fa-youtube, #socials .fab.fa-twitter, #socials .fab.fa-snapchat-ghost, #socials .fab.fa-pinterest, #socials .fab.fa-facebook {
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
}

#toggleSocials .fas.fa-caret-square-down:hover, #socials .fab.fa-instagram:hover, #socials .fab.fa-youtube:hover, #socials .fab.fa-twitter:hover, #socials .fab.fa-snapchat-ghost:hover, #socials .fab.fa-pinterest:hover, #socials .fab.fa-facebook:hover {
    color: #14f7be;
}

#socials .fab.fa-instagram {
    background: #125688;
}

#socials .fab.fa-youtube {
    background: #bb0000;
}

#socials .fab.fa-twitter {
    background: #55ACEE;
}

#socials .fab.fa-snapchat-ghost {
    background: #fffc00;
}

#socials .fab.fa-pinterest {
    background: #cb2027;
}

#socials .fab.fa-facebook {
    background: #3B5998;
}

/************************************************************************ home */

#home h1 {
    position: absolute;
    top: 6.5rem;
    left: 0.5rem;
    font-size: 2rem;
}

#home img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-top: 2.1rem;
}

#home figcaption {
    position: absolute;
    top: 10rem;
    left: 1.5rem;
    font-size: 1.5rem;
}

/************************************************************************ skills */

#skills {
    margin-top: 2rem;
    padding: 2rem 0rem;
    background-color: #e6f7f2;
}

#skills figure {
    margin-bottom: 1rem;
}

#skills figcaption {
    font-size: 1.2rem;
}

#skills h2, #skills li {
    padding-bottom: 0.6rem;
}

#skills h2 {
    font-size: 1.4rem;
}

#skills ul {
    text-align: left;
    margin-left: 28%;
    list-style: none;
    font-size: 1.1rem;
}

#skills .far.fa-snowflake {
    font-size: 0.6rem;
}

#skills img {
    border: solid 0.3rem #49bea3;
    height: 10rem;
    width: 10rem;
    border-radius: 5rem;
}

/************************************************************************ prices */

/************************************************************************ footer */